@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-primary: #a3ff00;
  --color-primary-foreground: #485e00;
  --color-secondary: #9ba1a6;
  --color-secondary-foreground: #000000;
  --color-card: #1f1f1f;
  --color-background: #141414;
  --color-foreground: #ffffff;
  --color-input: #424242;
  --color-placeholder: #6c7180;
}
