@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  /* --- 固定不变的颜色 --- */
  --color-primary-light: var(--primary-light);
  --color-primary: var(--primary);
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;

  --color-primary-dark: var(--primary-dark);
  --color-primary-bg: var(--primary-bg);
  --color-primary-text: var(--primary-text);

  --color-surface-lightest: var(--surface-lightest);
  --color-surface-lighter: var(--surface-lighter);
  --color-surface-light: var(--surface-light);
  --color-surface: var(--surface);
  --color-surface-dark: var(--surface-dark);
  --color-surface-darkest: var(--surface-darkest);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);
  --color-text-disabled: var(--text-disabled);
  --color-text-inverse: var(--text-inverse);

  --color-overlay: var(--overlay);
  --color-shadow: var(--shadow);
  --color-border: var(--border);
  --color-divider: var(--divider);
  --color-scrim: var(--scrim);
}

:root {
  --radius: calc(var(--spacing) * 2.5);
}
